.inkdrop-ol {
  position: relative;
  height: 350px;
}

.inkdrop-ol-err {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #101010;
  color: steelblue;
  padding: 15px;
  font-size: 1.2rem;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.inkdrop-ol-err > div {
  font-size: 1.5rem;
  font-weight: bold;
}